* {

}

body{
    box-sizing: border-box;
}

#boundary {
    background-color: gray;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    max-height: fit-content;
    padding: 2px;
}

#display {
    border-radius: 5px;
    background-color: rgb(182, 176, 176);
    max-width: auto;
    height: 50px;
    margin: 2px;

    color: rgb(52, 52, 52);
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: right;
    
}

button {
    border-radius: 5px;
    border-color: rgb(89, 89, 89);
    background-color: rgb(69, 68, 68);
    color: rgb(231, 231, 231);
    height: 50px;
    width: 50px;
    margin: 2px;
    margin-inline: 1px;
}

.operation {
    background-color: rgb(235, 128, 70);
}

.clear {
    background-color: rgb(245, 245, 144);
}